<!-- Sessions#login_error -->
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
<title>INVALID LOGIN</title>

</head>

<body>
    
    <h1> INVALID LOGIN </h1>
	<h2>  There is an error :( </h2>

	<p>Please try to login again ! -->

	<a href="/login">Go back to login</a></p>

</body>

</html>